 /*
* ==========================================================================
* Global Start
* ==========================================================================
*/
.carousel-inner{
  width:100%;
  max-height: 500px !important;
}

.form-group{
    
    padding:20px;
}
ul li{
    list-style: none;
}
h3.col-xs-12{
    margin-top: -20px;

}
.center{
    text-align: center;
}

.btn-info{
float: right;
}

.current span{
    color:#55CBD2;

}

body {
    font-size: 15px;
    line-height: 24px;
    background:#F8FAFF;
   
}

a {
    color: #55CBD2;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

a:hover { color: #888; text-decoration: none; }

strong { font-weight: bold; }

address {
    margin-top: 28px;
    }

@media (min-width: 50px) and (max-width: 988px) { 
 
 address {
    margin-top: 28px;
    margin-left: 21px;
    }
 
}
@media (min-width: 988px) and (max-width: 1200px) { 
 
 address {
    margin-top: 28px;
    margin-left: -58px;
    }
 
}

/*
* ==========================================================================
* Nav Pills
* ==========================================================================
*/
.nav-pills > li.selected > a,
.nav-pills > li.selected > a:hover,
.nav-pills > li.selected > a:focus {
  color: #ffffff;
  background-color: #1bbd9b;
}
/*
* ==========================================================================
* Pills Centered
* ==========================================================================
*/
.nav-pills-centered > .nav-pills {
  text-align: center;
}
.nav-pills-centered > .nav-pills > li {
  float: none;
  display: inline;
}
.nav-pills-centered > .nav-pills > li > a,
.nav-pills-centered > .nav-pills > li > span {
  display: inline-block;
  padding: 5px 14px;
}
.nav-pills-centered > .nav-pills > li > a.active,
.nav-pills-centered > .nav-pills > li > span.active,
.nav-pills-centered > .nav-pills > li > a.selected,
.nav-pills-centered > .nav-pills > li > span.selected {
  color: #ffffff;
  background-color: #1bbd9b;
}

/*
* ==========================================================================
* Navbar
* ==========================================================================
*/
.active{
  background:#74B9B9 !important;
  color: white;
}
.navbar {
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 0px;
  margin-bottom: 0;
}

/*
* ==========================================================================
* Navbar Nav Links
* ==========================================================================
*/
.navbar-nav > li > a {
  padding: 10px 15px; 
  border-radius: 4px;
}

/*
* ==========================================================================
* Brand / Project Name
* ==========================================================================
*/
.navbar-brand {  
  z-index: 9999px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 0px;
}
.side-left{
  background:#528C7C;
  box-shadow: 3px grey;
  color: white;
  padding: 30px;
  letter-spacing: .9px;
}
@media (min-width: 800px){  
    .side-left{
  height: 1248px;
}
 }

.header h1 {
    float: left;
    margin: 0;
    text-align: left;
}
.header a.brand {

    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    margin-top:5px;
    display: inline-block;
    width: 270px;
    height: 96px;
    padding: 30px 10px;
    /*background: url(../img/logo.png) 20px center no-repeat; */
}
@media (min-width: 50px) and (max-width: 768px) { 
        .header a.brand {
        width: 170px;
        margin-top:-41px;
        margin-top: -41px;
        position: absolute;
        font-size: 37px;
     } 
 }  

.spacing{
    margin-bottom: 80px;
}

.btn-sm{
    margin-left: 21px;
}

/* ----- Footer ----- */
footer{
   margin-top:40px;
   padding: 20px; 
   background: black;
}

footer h3 {
    color: #dadada;
    margin-bottom: 20px;
}

.footer-contact{
    color: white;
}


/*Social Buttons */
#social-icons{
  font-size: 22px;
}

#social-icons .btn-group {
    color: #55CBD2;
    margin-right: 15px;
}
#social-icons .btn-group:hover {
    color: #ffffff;
}

.copyright {
    color: #fff;
    padding: 20px 0px 10px 0px;
    background-color: rgb(23, 23, 23);
}

/*
* ==========================================================================
* Optional Carousel
* ==========================================================================
*/

@media (min-width: 768px) and (max-width: 1199px) {
  .carousel-caption {
    font-size: 12px;
    padding-bottom: 0px;
    bottom: 2px;
  }

}
@media (max-width: 767px) {
  .carousel-caption {
    font-size: 11px;
    padding-bottom: 0;
    bottom: 0;
  }

}

.form-group {
    width:65%;
}

/*
* ==========================================================================
* About & Contact Area
* ==========================================================================
*/
.page-title { 
    padding:22px 0 2px 0px; margin:0 0 0 0; 

}

.page-title h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    color: #181818;    
    margin: 0 0 0 -1px;
}

.map1{
    float:left;  
}

.block-address{
    float:left;
    width:245px;
}
